<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand pb-2" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
      </svg>
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/schedule">Schedule</a>
        <a class="nav-link" href="/schedule/past">Past Activites</a>
        <!-- if the user if logged in and has isAdmin === true, display 'Add Activity' -->
        <% if (currentUser && (currentUser.isAdmin === 0 || currentUser.isAdmin === 1)) {%>
        <a class="nav-link" href="/training/new">Add Activity</a>
        <% } %>
      </div>
      <!-- ms-auto will align these links to the right -->
      <div class="navbar-nav ms-auto">
        <!-- display these links -->
        <% if (!currentUser) {%>
        <a href="/login" class="nav-link">Log in</a>
        <a href="/register" class="nav-link">Register</a>
        <% } else { %>
        <a href="/logout" class="nav-link">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>