<% layout('layouts/boilerplate') %>
<div class="container col-10 col-md-8">
  <h1>Login</h1>

  <form action="/login" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" class="form-control input" id="username" name="username" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control input" id="password" name="password" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="mb-3">
      <button class="btn btn-success">Login</button>
    </div>
  </form>
</div>